main{
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-size: 100px 100px;
  background-image:
    linear-gradient(to right, #d4d4d4 1px, transparent 1px),
    linear-gradient(to bottom, #d4d4d4 1px, transparent 1px);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lander{
  height: 75vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 30px;
  position: relative;
}
footer{
  z-index: 1000;
}
canvas p{
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  width: 400px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
canvas{
  background: transparent;
}
h1{
  font-size: 2rem;
  z-index: 1000;
}
nav{
  width: 100%;
  color: black;
  padding: 20px 30px;
  font-size: 30px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.widget{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-txt{
  font-size: 3rem;
  color: #08FF08;
  font-weight: 600;
  width: 400px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; 
  cursor: pointer;
}
.hero-txt:active{
  cursor: pointer;
}
.emoji1{
  position: absolute;
  top: 0;
  right: -50px;
  transform: rotateZ(20deg);
  font-size: 5rem;
}
.emoji2{
  position: absolute;
  bottom: 30px;
  left: 0;
  transform: rotateZ(-20deg);
  font-size: 5rem;
}
.emoji3{
  position: absolute;
  bottom: -3rem;
  right: 0;
  transform: rotateZ(40deg);
  font-size: 5rem;
}
#Register{
  font-size: 1.5rem;
  background: #08FF08;
  border-radius: 1rem;
  padding: 10px 20px;
  font-weight: 600;
  width: fit-content;
  text-align: center;
  border: none;
  z-index: 1;
  margin-bottom: 10vh;
}
.record{
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f1f1f;
  border-radius: 5px;
}
.box1{
  position: absolute;
  top: 3%;
  left: 4%;
  height: 50px;
  width: 50px;
  border-left: white solid 2px;
  border-top: white solid 2px;
}
.box2{
  position: absolute;
  top: 3%;
  right: 4%;
  height: 50px;
  width: 50px;
  border-right: white solid 2px;
  border-top: white solid 2px;
}
.box3{
  position: absolute;
  bottom: 3%;
  left: 4%;
  height: 50px;
  width: 50px;
  border-left: white solid 2px;
  border-bottom: white solid 2px;
}
.box4{
  position: absolute;
  bottom: 3%;
  right: 4%;
  height: 50px;
  width: 50px;
  border-right: white solid 2px;
  border-bottom: white solid 2px;
}
.recording-circle {
  background-color: red;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: ease pulse 2s infinite;
  margin-right: 0.25em;

}

.recording-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.75em;
  color: white;
}

@keyframes pulse {
  0% {
    background-color: red;
  }
  50% {
    background-color: #f06c6c;
  }
  100% {
    background-color: red;
  }
}

.filler{
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  background: #08ff085b;
  background-image: url("https://i.stack.imgur.com/J5AKX.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  bottom: -1px;
  left: 30%;

}
body{
  position: relative;
}
.back-circles {
  filter: blur(60px);
  position: absolute;
}
.first{
  left: 0;
}
.second{
  right: 0;
}
.filler1 {
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, #ffff, transparent);
  height: 20%;
  width: 100%;
}
.filler2 {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, #ffff, transparent);
  height: 20%;
  width: 100%;
}
.filler3 {
  position: absolute;
  right: 0;
  background: linear-gradient(to left, #ffff, transparent);
  height: 100vh;
  width: 5%;
  z-index: 100;
}
.filler4 {
  position: absolute;
  left: 0;
  background: linear-gradient(to right, #ffff, transparent);
  height: 100vh;
  width: 5%;
  z-index: 100;
}